example_notebooks/captioning_examples/sample_docs/extracted_images/*

__pycache__/*
.pytest_cache/*
app/__pycache__/*
config/__pycache__/*
core/__pycache__/*
models/__pycache__/*
utils/__pycache__/*

documents/*

chroma_db/*
graph_db/*
image_store/*
tests/*
test_dir/*

dinov2/*
LongCLIP/*
Talk2DINO-ViTB/*

MMDocRAG/*
visual-rag/*

.coverage
.env