chromadb>=0.4.0
sentence-transformers>=2.2.0
openai>=1.0.0
PyMuPDF
python-docx>=0.8.11
langchain-text-splitters>=0.0.1
python-dotenv>=1.0.0
python-louvain>=0.16
networkx>=3.0
transformers<5.0.0
google-generativeai
dashscope